*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #333;

  --divider-color: #ccc;
}

nav a:where(.active) {
  background: #333;
  color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

code {
  font-weight: 600;
}

pre {
  background: #444;
  color: white;
  padding: 1ch;
}
pre code {
  background-color: inherit;
}

table {
  border-collapse: collapse;
}
table :where(th, td) {
  border: 1px solid #666;
}

:where(h2, h3, h4) a {
  color: inherit;
  text-decoration: none;
}
:where(h2, h3, h4) a:hover {
  text-decoration: underline;
}
:where(h2, h3, h4) a:hover::after {
  content: " #";
}

.c-app-layout {
  display: grid;
  margin: 0 auto;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;

  height: 100vh;
}

.c-app-menu {
  overflow-y: scroll;
  padding: 16px 16px 32px 16px;
  background-color: #eee;
  height: 100%;
  width: max(320px, 20vw);
  resize: horizontal;
  border-right: 1px solid var(--divider-color);

  ul {
    margin: 4px;
    padding-inline-start: 16px;
  }

  p {
    font-weight: 600;
    margin: 16px 0 8px 0;
  }



  li + li {
    margin-top: 2px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.c-app-header {
  height: 40px;
  padding: 0 16px;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-column: 1 / -1;
  background-color: #eee;
  border-bottom: 1px solid var(--divider-color);

  > * {
    margin: 0;
  }

  h1 {
    font-size: 16px;
  }
}

.c-app-main {
  height: 100%;
  overflow: auto;
  padding: 0 16px 32px 32px;
}

@media print {
  .u-no-print {
    display: none;
  }
}